abbr {
    font-style: italic;
    color: chocolate;
  }
 
 .forecast{
   margin: 0;
   padding: 0.3rem;
   background-color: #eee;
 }
 .forecast > h1,
 .day forecast{
   margin: 0.5rem;
   padding: 0.3rem;
   font-size: 1.2rem;
   background-image: url(Rain.jpeg);
   background-color: white;
  }

  
  .forecast > h2,
  .day forecast > p{
   margin: 0.3;
   font-size: 1.0rem;
  }
  aside {
   width: 40%;
   padding-left: 0.5rem;
   margin-left: 0.5rem;
   float: right;
   box-shadow: inset 5px 0 5px -5px #29627e;
   font-style: italic;
   color: #29627e;
 }
 
 aside > p {
   margin: 0.5rem;
 }
 em{
   color:rgb(5, 73, 73);
 }
 .about-me{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight:200
 }

 img {
  width: 500px;
  height: 450px;
} 

.class1 .class2{
  color:blue;
} 
.class1.class2{
  color:blue;
}

cite{
  color:rgb(4, 135, 135);
}
p.ex1{
  border: 1px solid black;
  outline-style:solid;
  outline-color:red;

}
p.ex2{
  border: 1px solid black;
  outline-style:dotted;
  outline-color: blue;
}
p.ex3{
  border: 1px solid black;
  outline-style:outset;
  outline-color:grey;
  outline-offset: 5px;
}
.linkcolor:link{
  color:powderblue;
  background-color: transparent;
  text-decoration:none;
}
.linkcolor:visited{
  color:pink;
  background-color: transparent;
  text-decoration: none;
}
.linkcolor:hover{
  color:red;
  background-color: transparent;
  text-decoration: underline;
}
.linkcolor:active{
  color:yellow;
  background-color: transparent;
  text-decoration: none;
}

.buttontry{
  display:inline-block;
  padding:5px;
  text-decoration:none;
  color:white;
  margin:auto;
  text-align:center;
  background-color: tomato;

}
.buttontry:hover, :active{
  background-color: red;
  text-decoration: underline;
}